body {
  background: linear-gradient(194deg, rgba(0,0,0,1) 0%, rgba(66,66,66,1) 95%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  margin: 0;
  color: white;
  font-family: 'Darker Grotesque', sans-serif;
}
main {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 15px;
}
button, input {
  border-radius: 4px;
  border: none;
  background-color: #606060;
  color: white;
  padding: 5px 15px;
  margin: 4px;
}
h2 {
  margin: 10px 0;
}
p{
  margin: 10px 20px;
}
span {
  color: gray;
}
#countries {
  margin: 0 auto;
}

.flag-img {
  width: 140px;
  height: 100px;
  padding-bottom: 45px;
  margin: 0 20px;
}
